.about {
	padding: 30px 10px 50px 10px;
	background-color: #0BA0FF;
	overflow:auto;
	text-align: center;
	color:#f9f9f9;

	hr {
		border-color: white;
	}
	h2 {
		text-transform: uppercase;
	}
	section {
		width:100%;
		padding:25px;
		float:left;

		hr {
			border-width: 1px;
		}
		img {
			height:80px;
			weight:80px;
		}
		p {
			padding:15px 0px;
			text-align:justify;
		}
	}


}


@media (min-width: $small-screen-size) {

	.about section {
		width:50%;
		margin:2px auto;
		// height:auto;

	}

}
