.about-fixed-width {
	background-color: white;
}

.about {
	background-color: #F3F3F5;

	.about-container {
		display:flex;
		flex-flow: row wrap;

		section {
			padding:5px;
			align-content: center;
			border:white 1px solid;
			img {
				width:100%
			}
		}

		.top {
			background-color: white;
			text-align: center;
			flex: 1 1 100%;


			.text-box {
				width:95%;
				text-align: center;
				margin:0 auto;

				h1 {
					font-family: arial;
					text-align: center;
					text-transform: uppercase;
					font-size:3.2em;
					line-height:1em;
					color:$green;
					letter-spacing: -0.06em;
					text-shadow: 1px 1px 1px #000;
				}

				h3 {
					font-family: arial;
					text-align: center;
					text-transform: uppercase;
					font-size:1.3em;
					letter-spacing: -0.05em;
				}

				h5 {
					font-size:1em;
				}

				hr {
					width:100%;
				}

				.number {
					display:inline-block;;
				}

			}


				.logo-letter {
					color: $blue;
				}

			.car-image {
				margin-top:30px;
				width:100%;
				height:20vw;
				max-height:250px;
				background-image: url("../images/car_lineup.png");
				background-repeat: no-repeat;
				background-position: contain;
				background-size: 100% auto;
			}
		}

		.bottom {
			flex:1 1 100%;

			div {
				height:220px;
				padding:15px;
				h2 {
					color:$green;
					font-family:arial;
					text-transform: uppercase;;
					letter-spacing: -0.06em;
					text-shadow: 1px 1px 1px #000;
				}

				h5 {
					color:white;
					width:100%;
					text-shadow: 1px 1px 1px #000;

				}
			}

			.bottom-image-1 {
				background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("../images/office_work_resize.png");
	      background-repeat: no-repeat;
	      background-size: 100% auto;
	      background-position: center;
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
				border-radius: .25em .25em .25em .25em;
			}

			.bottom-image-2 {
				background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url("../images/Beading_resize.png");
	      background-repeat: no-repeat;
	      background-size: 100% auto;
	      background-position: center;
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
				border-radius: .25em .25em .25em .25em;
			}
			.bottom-image-3 {
				background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)),url("../images/green_towel_resize.png");
	      background-repeat: no-repeat;
	      background-size: 100% auto;
	      background-position: center;
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
				border-radius: .25em .25em .25em .25em;
			}
		}

	}
}


@media (min-width: $small-screen-size) {
	.about .about-container {
		.top {
			flex: 1 1 100%;
		}

		.top .text-box {
			width:95%;
			h1 {
				font-size:3.0em;
				letter-spacing: -0.04em
			}
			h3 {
				font-size:1.5em;
			}
		}

		.bottom {
			flex:1 1 33.33333%;
		}
	}
}

@media (min-width: $medium-screen-size) {
	.about .about-container {

		.top .text-box{
			width:90%;
			h1 {
				font-size:3.5em;
				letter-spacing: -0.04em
			}
			h3 {
				font-size:1.4em;
			}
		}

	}
}

@media (min-width: $large-screen-size) {
	.about .about-container {

		.top .text-box{
			width:100%;
			h1 {
				font-size:5.0em;
				letter-spacing: -0.04em
			}
			h3 {
				font-size:2.1em;

			}
		}
		.bottom {
			h2 {
				font-size:2em;
			}
		}

	}
}
