#banner {
    display:flex;
    flex-flow: row nowrap;
    margin-bottom: 15px;

    div {
      flex:1;
      height:20vw;
      max-height::250px;
    }

    .badge-1 {
      background-image: url("../images/yelp.png");
      background-repeat: no-repeat;
      background-size: 90%;
      background-position: center;
    }

    .badge-2 {
      background-image: url("../images/eco_voc_logo.jpeg");
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: center;
    }

    .badge-3 {
      flex:1.5;
      position:relative;
      background-image: url("../images/pacific2.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      a {
        position:absolute;
        top:0;
        left:0;
        z-index:2;
        text-decoration: none;
        height:100%;
        width:100%;
      }
    }
    .badge-4 {
      background-image: url("../images/bbb_logo.png");
      background-repeat: no-repeat;
      background-size: 90%;
      background-position: center;
    }
    .badge-5 {
      background-image: url("../images/eco-friendly.png");
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: center;
    }
}
