html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
  display:block;
}

body {
  margin: 0;
  padding: 0;
  font-family: arial;
}

h1,h2,h3,h4,h5,p {
  margin:0;
  padding:0;
}

ol, ul {
    list-style: none;
}

hr {
	width:40%;
	margin: 10px auto;
	border-width:3px;
}

a {
  color:white;
}

.page-title {
  color:#454545;
  margin-bottom:50px;
  text-transform: uppercase;
  font-family:arial;
  letter-spacing: -0.01em;
  font-size:3em;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-shadow: 2px 2px 2px white;
 }



.page-title::before,
.page-title::after {
  flex-grow: 1;
  height: 1px;
  content: '\a0';
  background-color: rgb(179, 179, 179);
  position: relative;
  top: 0.5em;
}

// .page-title::before,
// .page-title::after {
//   flex-grow: 1;
//   height: 2px;
//   content: '\a0';
//   background-color: #ddd;
//   position: relative;
//   top: 0.5em;
// }
