.cd-form {
	width: 90%;
	max-width: 1024px;
	margin: 4em auto;
	@include clearfix;

	fieldset {
		margin: 24px 0;
	}

	div {
		/* form element wrapper */
		position: relative;
		margin: 20px 0;
	}

	.cd-label {
		font-size: 1.3rem;
    color:lighten(black,50%);
		margin-bottom: 10px;
		display: block;
	}

	input, textarea, label {
		font-family: arial;
		font-size: 1.3em;
	}

	input[type="text"],
	input[type="tel"],
	input[type="email"],
	textarea {
		display: block;
		width: 100%;
		@include appearance(none);
	}

	input[type="text"],
	input[type="tel"],
	input[type="email"],
	textarea {
		/* general style for input elements */
		padding: 12px;
		border: 1px solid darken($color-3, 10%)!important;
		border-radius: .25em;
		padding: 16px!important;

		&:focus {
			outline: none;
			border-color: $blue!important;
			box-shadow: 0 0 5px rgba($color-2, .2);
		}
	}

	textarea {
		min-height: 200px;
		resize: vertical;
		overflow: auto;
	}

	input[type="submit"] {
		/* button style */
		border: none;
		background: $blue;
		border-radius: .25em;
		padding: 16px 20px;
		color: white;
    font-size:1.5em;
		font-weight: bold;
		float: right;
		cursor: pointer;
		@include font-smoothing;
		@include appearance(none);

		&:hover {
			background: lighten($blue, 5%);
		}

		&:focus {
			outline: none;
			background: $blue;
		}

		&:active {
			@include transform(scale(.9));
		}
	}

	[required] {
		background: url('../images/cd-required.svg') no-repeat top right;
	}

	.error-message p {
		background: gray;
		color: white;
		font-size: 1.4rem;
		text-align: center;
		@include font-smoothing;
		border-radius: .25em;
		padding: 16px;
	}

	.error {
		background: red !important;
	}

	.success {
		background: $green !important;
	}

	@include MQ(M) {
		div {
			/* form element wrapper */
			margin: 32px 0;
		}

		.cd-label {
			font-size: 1.4rem;
			margin-bottom: 10px;
		}

		input[type="text"],
		input[type="tel"],
		input[type="email"],
		textarea {
			padding: 16px!important;
		}
	}
}

@include keyframes(cd-bounce) {
	0%, 100% {
		@include transform(scale(1));
	}

	50% {
		@include transform(scale(.8));
	}
}

/* --------------------------------

Custom icons

-------------------------------- */

.cd-form {
	.icon input, .icon textarea {
		padding-left: 54px !important;
	}

	.name {
		background: url('../images/cd-icon-user.svg') no-repeat 16px center;
	}

	[required].name {
		background: url('../images/cd-icon-user.svg') no-repeat 16px center,
					url('../images/cd-required.svg') no-repeat top right;
	}

	.number {
		background: url('../images/cd-icon-company.svg') no-repeat 16px center;
	}

	[required].number {
		background: url('../images/cd-icon-company.svg') no-repeat 16px center,
					url('../images/cd-required.svg') no-repeat top right;
	}

	.email {
		background: url('../images/cd-icon-email.svg') no-repeat 16px center;
	}

	[required].email {
		background: url('../images/cd-icon-email.svg') no-repeat 16px center,
					url('../images/cd-required.svg') no-repeat top right;
	}

	.budget {
		background: url('../images/cd-icon-budget.svg') no-repeat 16px center;
	}

	.message {
		background: url('../images/cd-icon-message.svg') no-repeat 16px 16px;
	}

	[required].message {
		background: url('../images/cd-icon-message.svg') no-repeat 16px 16px,
					url('../images/cd-required.svg') no-repeat top right;
	}
}

/* --------------------------------

FLoating labels

-------------------------------- */

.floating-labels {
	div {
		margin: 28px 0;
	}

	.cd-label {
		position: absolute;
		top: 16px;
		left: 16px;
		font-size: 1.6rem;
		cursor: text;
		@include transition(top .05s, left .05s, font-size .05s);
	}

	.icon .cd-label {
		position: absolute;
		left: 56px;
		top: 13px;
		// left: 16px;
	}

	.cd-label.float {
		/* move label out the input field */
		font-size: 1.2rem;
		top: -26px;
		left: 0 !important;
	}

	@include MQ(M) {

		div {
			/* reduce margin-top for first form element after the legend */
			margin-top: 16px;
		}

		.cd-label {
			top: 20px;
		}
	}
}
