
.contact {
  height:auto;
  background-color: rgba(219,68,54,0.6);

  .contact-map {
    position:relative;
    background-image: url(../images/map.png);
    background-position:100% 100%;
    width:100%;
    min-height: 50vh;
    background-size: cover;
  }

  .contact-description {
    text-align:left;
    position:absolute;
    color:white;
    left:5%;
    top:20%;
    padding: 5% 2.5%;
    height:200px;
    width:50%;
    background-color: rgba(219,68,54,0.6);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px; /* future proofing */
    -khtml-border-radius: 20px; /* for old Konqueror browsers */


    span {
      font-size:20px;
    }
  }

}

@media (max-width: 480px) {
  .contact {
    .contact-map {
      min-height:30vh;
    }

    .contact-description {
      left:10%;
      top:20%;
      width:80%;
      height:150px;
      text-align: center;
    }
  }
}
