
.contact {
  background-color:#2DDC27;
  text-align: center;
  padding:40px 0px;

  .contact-content {
    h2 {
      color:white;
    }
    button {
      color:white;
      margin-top: 20px;
      &:hover {
        color:white;
        background-color:#5A9958;
      }
    }
  }
}

#contact .fancy-box {
  max-width:100%;
  padding:2px;
  display:none;
  position:fixed;
  left:0;
  right:0;
  top:0;
  margin:0 auto;
  z-index:10;
  margin-top:20%;

  img {
    height:100%;
    width:100%;
    border-radius: 4px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  }

  &:before {
    content: "";
    position:fixed;
    background-color:rgba(0,0,0,.8);
    bottom:0px;
    right:0px;
    left:0px;
    height:100%;
    weight:100%;
    z-index:-1;
  }

}


@media (min-width: $small-screen-size) {
  #contact .fancy-box {
    max-width:80%;
    margin-top:15%;
  }
}

@media (min-width: $medium-screen-size) {
  #contact .fancy-box {
    max-width:70%;
    margin-top:10%;
  }
}

@media (min-width: $large-screen-size) {
  #contact .fancy-box {
    max-width:60%;
    margin-top:5%;
  }
}

@media (min-width: $break-medium){
  #contact .fancy-box {
    max-width:50%;
    // @include transform(translateX(140px));
  }
}
