
.contact {
  background-color:#2DDC27;
  text-align: center;
  padding:40px 0px;

  .contact-content {
    h2 {
      color:white;
    }
    button {
      color:white;
      margin-top: 20px;
      &:hover {
        color:white;
        background-color:#5A9958;
      }
    }
  }
}
