
.feature{
	// height:500px;
	// background-color: yellow;
	overflow: auto;
}

section {
	width:25%;
	padding:10px;
	height:500px;
	background-color: white;
	float:left;
	// text-align: center;
}


@media (max-width: 480px) {
	section {
		width:100%;
		height:150px;
	}
}
