hr {
	width:50%;
	margin: 10px auto;
	border-width:3px;
	padding-bottom: 3%
}

.about {
	padding: 5% 2.5%;
	height:auto;
	background-color: #6EB5DC;
}
.about {
	text-align: center;
	color:white;

	hr {
		border-color: white;
	}

	section {
		width:33.33333%;
		padding:15px;
		float:left;

		h1 {
			padding-top:5px;
			text-transform: uppercase;
		}
		hr {
			border-width: 1px;
		}
		img {
			height:100px;
			weight:100px;
		}
	}
}

.service {
	padding: 5% 2.5%;
	height:auto;
	width:100%;
	text-align: center;
}

.service {
	hr {
		border-color: #608FB3;
	}

	h2 {
		text-align: center;
		margin:0;
		color:#608FB3;
	}

	section {
		margin: 1%;
		width:31.33333%;
		padding:15px;
		height:300px;
		// background-color: white;
		float:left;

		h1 {
			color:#608FB3;
		}

		p {
			color:#608FB3;
		}

		img {
			height:100px;
			weight:100px;
		}

	}
}


@media (max-width: 600px) {
	.about section {
		width:98%;
		height:auto;
	}

	.service section {
		width:98%;
		margin:0;
		height:auto;

	}
	.fixed-container {
		background-color: white;
	}
}
