hr {
	width:40%;
	margin: 10px auto;
	border-width:3px;
	padding-bottom: 3%
}

.about {
	padding: 30px 10px 50px 10px;
	height:auto;
	background-color: rgba(4, 123, 175, 0.8);
}

p {
	// text-align: justify;
}

.about {
	text-align: center;
	color:white;

	h2 {
		font-size:35px;
	}

	hr {
		border-color: white;
	}

	section {
		width:50%;
		padding:20px;
		float:left;

		h1 {
			padding:15px 0px;
			text-transform: uppercase;
		}
		hr {
			border-width: 1px;
		}
		img {
			height:100px;
			weight:100px;
		}
		p {
			padding:20px;

		}
	}
}

.service {
	padding: 30px 10px 50px 10px;
	height:auto;
	overflow: hidden;
	width:100%;
	text-align: center;
	background-color: #F9F9F9;
}

.service {
	hr {
		border-color: rgba(4, 123, 175, 0.8);
	}

	h2 {
		font-size:28px;
		text-align: center;
		margin:0;
		color:rgba(4, 123, 175, 0.8);
	}

	section {
		width:33.33333%;
		padding:15px;
		height:350px;
		float:left;

		h1 {
			color:rgba(4, 123, 175, 0.8);
			text-transform: uppercase;
			padding:15px 0px;
		}

		p {
			color:rgba(4, 123, 175, 0.8);
			padding:20px;
		}

		img {
			height:100px;
			weight:100px;
		}

	}
}


@media (max-width: 600px) {
	.about section {
		width:98%;
		height:auto;
	}

	.service section {
		width:98%;
		margin:0;
		height:auto;

	}
	.fixed-container {
		background-color: white;
	}
}
