.fleet-container {
  display:flex;
  flex-flow: column wrap;
  padding:5px;
  justify-content: space-between;

  section {
    position:relative;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 0em .25em .25em 0em;
    position:relative;
    padding:10px;
    text-align: center;
    margin:5px;
    flex: 1;
    background-color:#57B846;
    h3 {
      color:white;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    }
    h4 {
      color:white;
    }

    div[class^="fleet"] {
      margin:10px 0px;
      height:200px;
      background-repeat: no-repeat;
      max-width:100%;
      background-size: cover;
      background-position: center;
    }

    .fleet-image {
      background-image: url("../images/fleet-picture-1.png");
    }
    .fleet-image2 {
      background-image: url("../images/fleet-picture-2.png");
    }

  }
}

@media (min-width: $small-screen-size) {
  .fleet-container {
    flex-flow: row wrap;
    section {
      flex: 1 0 48%;
    }
  }
}

@media (min-width: $medium-screen-size) {
  .fleet-container {
    section {
      flex: 1 0 32%;
    }
  }
}

@media (min-width: $large-screen-size) {

}
