footer {
	background-color:#333D47;
	text-align: center;
	padding: 50px 2.5%;
}

.footer-bottom {
	color:white;

	hr {
		width:80%;
		border-color: white;
	}

	ul {
		padding:0;
		li {
			display:inline-block;
			margin-left: 10px;
			margin-right:10px;
			// width:30px;
			a {
				color:white;
				display: block;
		    height: 36px;
		    width: 36px;
		    border-width: 1px;
		    border-style: solid;
		    border-radius: 50%;
				text-align: center;
				i {
					line-height:2.3;
				}
			}
		}
	}
	p {
		font-size:14px;
		color:#82888a;

		a {
			color:#82888a;
			font-size:14px;
			text-decoration: underline;
		}
	}
}
