@media (max-width: 480px){
	.jumbotron-image {

	}
}

.jumbotron {
	.jumbotron-content {
		text-align: center;
		color: white;
		h1 {
			margin:0;
		}
	}
}

.jumbotron-image {
	background-image: url(../images/car.jpg);
	background-position:50% 50% !important;
	background-size: cover !important;
	width:100%;
	min-height: 80vh; //make it full size
}

button {

	background-color:transparent;
	border:3px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:6px 15px;
	text-decoration:none;

	button:hover {
		background-color:transparent;
	}
	button:active {
		position:relative;
		top:1px;
	}

}
