.jumbotron {

	.jumbotron-image {

		position:relative;
		background-image: url(../images/waterbottle.png);
		background-position:center;
		background-size: cover;
		min-height:100vh;

		.jumbotron-content {
			position:absolute;
			width:90%;
			top:35%;
			margin: 0 auto;
			left:50%;
			transform:translatex(-50%);
			max-width:950px;
			align-items:flex-start;

			h2 {
				color: white;
				text-shadow: #000 2px 2px 15px;
			}

			.first-sentence {
				float:left;
			}

			.second-sentence {
				margin-top:30vh;
				float:right;
			}

			button {
				margin-top: 25px;
				background-color: #2DDC27;
				width:300px;
				color:white;
				box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
				&:hover {
					background-color:#07B601;
				}
			}
		}
	}
}


@media (min-width: $small-screen-size) {
	.jumbotron .jumbotron-image {
		min-height:90vh;

		.jumbotron-content {

			.second-sentence {
				margin-top::25vh;
			}
		}
	}
}

@media (min-width: $medium-screen-size) {
	.jumbotron .jumbotron-image {
		min-height:80vh;

		.jumbotron-content {
			.second-sentence {
				margin-top:20vh;
				margin-right:1em;
			}
		}
	}

}

@media (min-width: $large-screen-size) {
	.jumbotron .jumbotron-image {
		min-height:70vh;
		.jumbotron-content {
			.second-sentence {
				margin-right:2em;
			}
		}
	}

}
