.jumbotron {

	.jumbotron-image {

		position:relative;
		background-image: url(../images/carwash.jpg);
		background-position:30% 50%;
		background-size: cover;
		width:100%;
		min-height:100vh;

		.jumbotron-content {
			display: inline-block;
			text-align:center;
			width:100%;
			position:absolute;
			top:40%;

			h1 {
				width:100%;
				color: white;
				text-shadow: #000 2px 2px 15px;
			}
			button {
				margin-top: 25px;
				background-color: #2DDC27;
				width:300px;
				color:white;

				&:hover {
					background-color:#07B601;
				}
			}
		}
	}
}


@media (min-width: $small-screen-size) {
	.jumbotron .jumbotron-image .jumbotron-content {
		top:35%;
	}
}

@media (min-width: $medium-screen-size) {
	.jumbotron .jumbotron-image {
		min-height:95vh;
	}
}

@media (min-width: $large-screen-size) {
	.jumbotron .jumbotron-image {
		min-height:90vh;
	}
}
