.fluid-container {
  width:100%;
  margin:auto;
  overflow: auto;
}

.fixed-width {
  max-width:$large-screen-size;
  margin:auto;
  overflow:inherit;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.about-fixed-width {
  padding:50px 0px;
}

#schedule {
  padding:50px 0px;
}
#services {
  padding:50px 0px;
}
#faq {
  padding:50px 0px;
}

@media (min-width: $large-screen-size) {
  .about-fixed-width {
    padding:75px 0px;
  }
  #schedule {
    padding:75px 0px;
  }
  #services {
    padding:75px 0px;
  }
  #faq {
    padding:75px 0px;
  }
}
