$font-family: sans-serif;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EDEFED;
  font-family: 'Helvetica', sans-serif;
}

a {
  color:white;
  text-decoration: none;
  &:visited {
    color:#00FF00;
    text-decoration:none;
  }
  &:hover {
    color: white;
    opacity: 0.75;
    transition: opacity 0.2s linear,color 0.2s linear;
  }
  &:active {
    color:#0000FF;
  }
}

.container {
	max-width: 1000px;
	margin:auto;
}
//
// @media (max-width: 480){
//   .container {
//     width:480px;
//   }
// }
