.modal {
  display:none;
  // overflow: auto;
  .modal-container {
    background-color:#fff;
    border:1px solid #000;
    width:70%;
    max-width:400px;
    position:fixed;
    bottom:50%;
    left:50%;
    padding:20px;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
    a {
      color:black;
    }
  }

  &:before {
    content: "";
    position:fixed;
    // display:none;
    background-color:rgba(0,0,0,.8);
    bottom:0px;
    right:0px;
    left:0px;
    height:100%;
    weight:100%;
  }

  // &:target:before {
  //   display:block;
  // }
  //
  // &:target .modal-container {
  //   -webkit-transform: translate(-50%,0);
  //   -ms-transform: translate(-50%,0);
  //   transform: translate(-50%,0);
  // }

}
