.modal {
  display:none;

  .modal-container {
    background-color:#fff;
    border:1px solid #000;
    width:70%;
    max-width:400px;
    position:fixed;
    bottom:40%;
    left:50%;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);

    .modal-header {
      text-align: center;
      padding:20px;
      border-bottom: 1px solid rgba(34,36,38,.15);
    }
    .modal-body {
      padding:20px;
      input {
        width:100%;
        height:30px;
      }
    }
    .modal-footer {
      border-top: 1px solid rgba(34,36,38,.15);
      padding:20px;
      text-align: center;

        button {
          width:90px;
          font-size:20px;
        }

      .submit {
        background-color: rgba(33,186,69,1);
        &:hover {
          color:white;
          background-color: rgba(33,186,69,0.5);

        }
      }

    }

  }

  &:before {
    content: "";
    position:fixed;
    background-color:rgba(0,0,0,.8);
    bottom:0px;
    right:0px;
    left:0px;
    height:100%;
    weight:100%;
  }
}


input[type=text], textarea {
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
