header {
	position:fixed;
	width:100%;
	// font-size:20px;
	// height:50px;
  background-image: linear-gradient(to bottom,rgba(51,61,71,0.95),transparent);
	// background-color: rgba(0,0,0,0.3);
	padding: 10px;
}

nav {
	overflow:auto;
}

.logo {
	font-family:"Ubuntu"!important;
	margin-top:2px;
	margin-left: 20px;
	line-height: 25px;
	vertical-align: middle;

	.moco {
		color:#30EA29;
	}
	color:white;
	// padding-left: 10px;
	// padding-top:4px;
	float:left;
	font-family: 'bdp', sans-serif;
	font-size: 26px;
}

nav {
	float:right;
	width:450px;
	// line-height:5px;
	// height:20px;
	ul {
		text-align:center;
		li {
			vertical-align: middle;
			line-height: 30px;
			display: inline-block;
			margin-left: 2%;
			margin-right: 2%;
			a {
				font-weight:200;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
		}

	}
}

.open-panel, .close-panel {
	display:none;
}


@media (max-width: 480px) {
	 /* Move nav off screen, setup transitions */
	body {
		background-color: #1B1C1D;
	}
	header {
		background-color: white;
		background-color: transparent;
		text-align: center;
	}
	.logo {
		float:none;
		margin:0;
		text-align: center;
	}
	.nav-button {
		float:left;
	}
	nav {
		width: 70%;
		position: absolute;
		left: -70%;
		top: 0;
		height: 100%;
		overflow: inherit;

		ul {
			text-align:left;
			padding-left: 30px;

			li {
				line-height:1;
				width:100%;
				margin: 15px 0px;
			}
		}
	}
	.fa-bars{
		color: black;
		margin: 4%;
	}
	.fa-times{
		color:white;
		margin-top:15px;
		margin-left:-2.5px;
		float:left;
	}
	.open-panel, .close-panel {
		display: inline;
	}
	.openNav .top-container {
		left: 0;
		-webkit-transform: translate3d(70%, 0, 0);
		-moz-transform: translate3d(70%, 0, 0);
		-ms-transform: translate3d(70%, 0, 0);
		-o-transform: translate3d(70%, 0, 0);
		transform: translate3d(70%, 0, 0);
		-webkit-transition: -webkit-transform 500ms ease;
		-moz-transition: -moz-transform 500ms ease;
		-o-transition: -o-transform 500ms ease;
		transition: transform 500ms ease;
	}
	.top-container {
		left: 0;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: -webkit-transform 500ms ease;
		-moz-transition: -moz-transform 500ms ease;
		-o-transition: -o-transform 500ms ease;
		transition: transform 500ms ease;
	}
}
