header {
	position:fixed;
	height:50px;
	width:100%;
	font-size:20px;
	background-color: rgba(0,0,0,0.3);
}

nav {
	overflow:auto;
}

.logo {
	color:white;
	padding-top:10px;
	padding-left: 10px;
	float:left;
	font-family: 'Ubuntu', sans-serif;
}

nav {
	padding-top:10px;
	ul {
		text-align:center;
		li {
			display: inline-block;
			margin-left: 2%;
			margin-right: 2%;
			a {
				text-transform: uppercase;
			}
		}

	}
}

.open-panel, .close-panel {
	display:none;
}


@media (max-width: 480px) {
	 /* Move nav off screen, setup transitions */
	body {
		background-color: #1B1C1D;
	}

	header {
		background-color: white;
	}

	.logo {
		display:none;
	}

	nav {
		width: 70%;
		position: absolute;
		left: -70%;
		top: 0;
		height: 100%;
		overflow: inherit;

		ul {
			i {
				color:white;
			}
			li {
				line-height:1;
				width:100%;
				margin: 5% 0 5% 0;
			}
		}
	}
	.fa-bars{
		color: black;
		margin: 1.5%;
	}
	.fa-times{
		margin: 2%;
	}
	.open-panel, .close-panel {
		display: inline;
	}
	.openNav .top-container {
		left: 0;
		-webkit-transform: translate3d(70%, 0, 0);
		-moz-transform: translate3d(70%, 0, 0);
		-ms-transform: translate3d(70%, 0, 0);
		-o-transform: translate3d(70%, 0, 0);
		transform: translate3d(70%, 0, 0);
		-webkit-transition: -webkit-transform 500ms ease;
		-moz-transition: -moz-transform 500ms ease;
		-o-transition: -o-transform 500ms ease;
		transition: transform 500ms ease;
	}
	.top-container {
		left: 0;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: -webkit-transform 500ms ease;
		-moz-transition: -moz-transform 500ms ease;
		-o-transition: -o-transform 500ms ease;
		transition: transform 500ms ease;
	}
}
