

#newspaper-c {
  background-color:white;
  color:black;
	width: 100%;
  border-radius: inherit;
  height:80%;
}

#newspaper-c th {
	padding: 20px 0;
	font-weight: normal;
  text-align: center;
  font-size:1em;
}

#newspaper-c td {
  font-size:1.2em;
  font-family:arial;
  text-transform: uppercase;
  letter-spacing: -0.01em;
}

#newspaper-c tbody td:nth-child(1) {
  text-align: left;
  padding-left:40px;
}

#newspaper-c tbody td:nth-child(2) {
  text-align: right;
  padding-right:40px;
}

#newspaper-c tbody tr:last-child {
  padding-bottom: 10px;
}

.col2 #newspaper-c .special-price {
  position: relative;
  &:after {
    position: absolute;
    content: "";
    right: 36px;
    top: 13px;
    color:red;
    border-top: 1px solid;
    width:40px;
    border-color: inherit;
    border-width: 2px;
    -webkit-transform:rotate(-35deg);
    -moz-transform:rotate(-35deg);
    -ms-transform:rotate(-35deg);
    -o-transform:rotate(-35deg);
    transform:rotate(-35deg);
  }

}

@media (min-width: $small-screen-size) {
  #newspaper-c td {
    font-size:1.0em;
  }
}

@media (min-width: $medium-screen-size) {
  #newspaper-c td {
    font-size:1.2em;
  }
}

@media (min-width: $large-screen-size) {
  #newspaper-c td {
    font-size:1.0em;
  }
}
