.service {
	background-color: rgb(221, 225, 230);
	background-image: url(../images/jumbo-picture.png);
	background-position: right;
}

.service-container {
  display:flex;
  flex-flow: column wrap;
  padding:5px;
  justify-content: space-between;

  section {
    position:relative;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    margin:10px 15px;
    height:310px;
    flex: 1;
		background-clip: padding-box;
		border-radius: .25em .25em .25em .25em;

    h2 {
      white-space: nowrap;
      font-size:1.5em;
			font-family: arial;
			text-transform: uppercase;
			letter-spacing: -0.03em;
    }

		h5 {
			color:lighten(#42464B,20%);
		}

    .service-bottom {
      position:absolute;
      bottom:0px;
      height:50px;
      width:100%;
      color:white;
			font-weight:bold;
			text-transform: uppercase;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
      padding:15px 0px;
      background-color: $blue;
			z-index:3;
      border-radius: 0em 0em .2em .2em;
      cursor:pointer;
    }

    .service-price {
			position:absolute;
      width:100%;
      height:inherit;
			background-color: white;
      top:0;
      left:0;
      cursor:pointer;
			border-radius: inherit;

      h4 {
        font-size:1em;
        color:$font-color;
        border-style:solid;
        border-radius: 0px 0px 3px 3px;
        border-width:1px;
        border-color: $font-color;
        padding:10px 30px 10px 30px;
        text-align: left;
      }
    }

  }
}

.service-box {
	border-radius: inherit;
	position:absolute;
	z-index:2;
	height:100%;
	background-color: white;
  padding:20px;
	opacity:1;
	transition: opacity 0.5s;

  svg {
    margin:15px 0px;
    width:100%;
    height:100px;
    path, polygon, circle, ellipse {
      fill:$blue;
    }
  }
}

.service-box.is-faded {
	opacity:0;
}




@media (min-width: $small-screen-size) {
	.service {
		background-position: right center;
	}

  .service-container {
    flex-flow: row wrap;
    section {
      flex: 1 0 33%;
			margin:5px;
      h2 {
        font-size:1.0em;
      }
    }
  }
}

@media (min-width: $medium-screen-size) {
	.service {
		background-position: 100% 100%;
	}
  .service-container {
    padding:5px;
    section {
      margin:5px;
      flex: 1 1 48%;
      h2 {
        font-size:1.5em
      }
    }
  }
}

@media (min-width: $large-screen-size) {
  .service-container {
    padding:0px;
    section {
      flex: 1 1 30%;

			h2 {
				font-size:1.3em;
			}
    }
  }
}

@media (min-width: 100em) {
	.service {
		background-size:cover;
	}
}
