.service {
  padding: 30px 15px 30px 15px;
	overflow: hidden;
	text-align: center;
	background-color: white;

	hr {
		border-color: $font-color;
	}

	.service-h2 {
		text-transform: uppercase;
		color: $font-color;
	}

  .service-title {
    color: $font-color;
  }

	section {
		width:99%;
    margin: 1%;
    height:400px;
		float:left;
    position:relative;
    // border-radius: 3px;
    // border-width: 1px;

    .service-box {
      // border-radius: 3px;
      // border-width: 1px;
      // border-color:black;
      height:100%;
      width:100%;
      z-index:1;
      padding:25px;
      position:absolute;
      top:0;
      left:0;
      background-color: white;
      cursor:pointer;
      display:block;
      transition: all 2s linear;
    }

    .service-price {
      width:100%;
      height:90%;
      position:absolute;
      top:0;
      left:0;
      z-index:0;
      cursor:pointer;

      h4 {
        font-size:1em;
        color:$font-color;
        border-style:solid;
        border-radius: 0px 0px 3px 3px;
        border-width:1px;
        border-color: $font-color;
        padding:10px 30px 10px 30px;
      }
    }

    h1 {
			color:$font-color;
			text-transform: uppercase;
			padding:15px 0px;
		}

		p {
			color:$font-color;
			padding:15px 0px;
			text-align:justify;
		}

    .service-logo {
      height:50%;
      width:50%;
      position:absolute;
  		display:block;
  		top:25%;
  		left:25%;

      path, polygon, circle, ellipse {
        fill:$font-color;
      }
    }
	}
}

.hidden {
  display:none;
  // opacity: 0;
}


@media (min-width: $small-screen-size) {
	.service section {
		width:50%;
		margin:2px auto;
	}
  .service h2 {
    font-size:1.6em;
  }
}

@media (min-width: $medium-screen-size) {
  .service h2 {
    font-size:1.6em;
  }
}

@media (min-width: $large-screen-size) {

	.service section {
		width:33.3333%;

	}
}
