.stats {
  background-color:#76D3C9;
  text-align: center;
  height:200px;
  position: relative;

  .stats-content {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p {
      color:white;
      font-size:24px;
    }
    button {
      margin-top: 20px;
    }
  }
}
