.line {
  height:1px;
  background-color: white;
}

.top-strip {
  font-family:"Arial", sans-serif;
  padding: 6.5px 0;
  background-color: #2DDC27;
  color:white;
  font-size:28px;
  letter-spacing: 1.5px;
  text-align: center;

  span {
    letter-spacing: 0.5px;
    vertical-align: middle;
    // font-family: helvetica;
    -webkit-font-smoothing: antialiased;
    font-weight:700;
    font-size:36px;
    // font-weight: 400;
    // font-size: 3px;

    .number {
      vertical-align: baseline;
    }
  }
  button {
    // letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight:400;
    height:40px;
    // background-color:rgb(45,220,39,0.8);
    border-style: solid;
    border-color: white;
    border-width: 1.5px;
    width:200px;
    font-size:15px;
    &:hover {
      // background-color:rgb(45,220,39,0.8);
    }
  }
}

.strip {
  height:100px;
  background-color: white;

}

@media (max-width:460px) {
  .top-strip {
    // font-size:20px;
    padding: 25px 0;
    button {
      margin-top: 10px;
    }
  }
}
