.top-strip {
  border-top: solid white 1px;
  border-bottom: solid white 1px;
  font-family:"Arial", sans-serif;
  padding: 6.5px 0;
  background-color: #2DDC27;
  color:white;
  letter-spacing: 1.5px;
  text-align: center;

  span {
    letter-spacing: 0.5px;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    font-weight:700;
    font-size:36px;

    .number {
      vertical-align: baseline;
    }
  }

  button {
    // letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight:400;
    height:40px;
    background-color:#2DDC27;
    border-style: solid;
    border-color: white;
    border-width: 1.5px;
    width:200px;
    font-size:15px;
    &:hover {
      color:white;
      background-color:#4CFB46;
    }
  }
}


@media (max-width:460px) {
  .top-strip {
    // font-size:20px;
    padding: 30px 0;
    span {
      font-size: 26px;
      line-height:26px;
    }
    button {
      margin-top: 10px;
    }
  }
}
