.bottom-strip {
  position:absolute;
  bottom:0;
  width:100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border-top: solid white 1px;
  border-bottom: solid white 1px;
  font-family:"Arial", sans-serif;
  padding: 3px 0;
  background-color: #2DDC27;
  color:white;
  text-align: center;

  span {
    font-size:28px;
    letter-spacing: 0.5px;
    -webkit-font-smoothing: antialiased;
    font-weight:700;
    display:inline-block;
    margin-bottom: 5px;
  }

  button {
    color:white;
    display:inline-block;
    text-transform: uppercase;
    font-weight:400;
    background-color:#2DDC27;
    border-style: solid;
    border-color: white;
    border-width: 1.5px;
    height:50px;
    width:200px;
    font-size:15px;
    &:hover {
      color:white;
      background-color:#4CFB46;
    }
  }
}

@media (min-width:$small-screen-size) {
  .top-strip {
    span {
      margin-right: 2%;
    }

  }
}
