$font-color: #0BA0FF;
$small-screen-size: 34em;
$medium-screen-size: 50em;
$large-screen-size: 64em;

$break-medium: 1200px;
$nav-width: 240px;
$site-width: 1600px;

$color-1: #4e5359; // blue dark
$color-2: #a9c056; // green
$color-3: #f3f3f5; // grey light
$color-4: #6c7d8e; // blue light
$color-5: #ffffff; // white

$S:     34em;
$M:     50em;
$L:     64em;
