// bower:scss
// endbower

// Base Helpers
@import "_mixins";
@import "_reset";

// Layout
@import "_grids";
@import "_layout";
/*@import "_font";*/

// Components
@import "_navbar";
@import "_jumbotron";
@import "_feature";
@import "_footer";

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}
